<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi sapiente
    quibusdam excepturi nulla, voluptate asperna
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <span class="icon-container">
          <svg class="icon icon--primary quote__line">
            <use xlink:href="./images/sprite.svg#line"></use>
          </svg>
        </span>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">John Smith</h3>
        <p class="quote__organization">ABC Company</p>
      </div>
    </div>
  </footer>
</blockquote>
